html {
    background-image: url("images/background-confetti.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
} 

#navbar {
    height: 100%;
    min-width: 200px;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
    background-color: rgb(246, 71, 71, .8);
    animation-duration: 1.5s;
    animation-name: slidein;
}

#content {
    font-family: 'Poiret One', cursive;
    text-align: center;
    height: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: clamp(14px, 2vw, 20px);
    
}

#navbar-header h1 {
    font-family: 'Satisfy', cursive;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: clamp(32px, 4vw, 60px);
}

#carrie-photo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}

#carrie-photo img {
    width: 100%;
    height: auto;
}

#github:hover {
    transform: rotate(20deg);
}

#linked-in:hover {
    transform: rotate(20deg);
}

#mail:hover {
    transform: rotate(20deg);
}

#confetti {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#confetti-btn {
    position: fixed;
    display: block;
    bottom: 5%;
    background-color: transparent;
    border-radius: 20%;
    font-family: 'Poiret One', cursive;
    border-style: solid;
    color: black;
    border-color: black;
    font-size: clamp(10px, 1.5vw, 17px);
}

#confetti-btn:hover{
    border-color: white;
    color: white;
}

#confetti-btn:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: max(5px);
    width: 100%;
    font-family: 'Poiret One', cursive;
    text-align: center;
    left: min(100px);
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 0%;
    }

    to {
        margin-left: 0%;
        width: 30%;
    }
}